{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <!-- <meta content="width=device-width, initial-scale=1.0" name="viewport"> -->

  <title>Profile | Sani Sufyan Bature</title>
  <meta content="Sani Sufyan Bature" name="description">
  <meta content="Sani, Sufyan, Bature, Dashboard Sani, Dashboard Bature, Profile Sani, Profile Sufyan, Profile Bature, Sani Bature, Sani Sufyan, Sufyan Bature" name="keywords">

  <link href="{% static 'assets/img/image.jpg' %}" rel="icon">

  <!-- Google Fonts -->

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/font-awesome/css/all.min.css' %}" rel="stylesheet">  
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">  
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">

  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">



</head>

<body>


  <!-- ======= Top Bar ======= -->
<section id="topbar" class="d-flex align-items-center text-white bg-dark">
    <div class="container-fluid d-flex justify-content-center justify-content-md-between text-white px-5">
        <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope-fill"></i><a href="mailto:{{social.mail}}" class="text-white">{{social.mail}}</a>
        </div>
        <div class="social-links d-none d-md-block">
          <a href="{{social.researchgate}}" target="_blank" class="researchgate"><i class="fa-brands fa-researchgate"></i></a>
          <a href="{{social.github}}" target="_blank" class="github"><i class="bi bi-github"></i></a>
          <a href="{{social.linkedin}}" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
          <a href="{{social.twitter}}" target="_blank" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="{{social.facebook}}" target="_blank" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="{{social.instagram}}" target="_blank" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="{{social.telegram}}" target="_blank" class="telegram"><i class="bi bi-telegram"></i></a>
            <!-- <a href="{{social.tiktok}}" target="_blank" class="tiktok"><i class="bi bi-tiktok"></i></a> -->
        </div>
    </div>
</section>
  
  <!-- ======= Header ======= -->
  <div class="container-fluid d-flex justify-content-center py-4">
    <div class="col-8 pe-4">
      <header>
        <div class="text-dark border-bottom border-secondary">
          <h1 class="fw-bold">Sani Sufyan Bature, Bsc</h1>
          <div class="row">
            <div class="col-auto">
              {% for obj in header %}
              <h6>{{obj.name}}</h6>
              {% endfor %}    
            </div>
            <div class="col-auto pb-3">
              <span class="fw-bold">Current Reading:</span>
              <span>{{social.book}}</span>
            </div>
          </div>
          <!-- <h6>📫 Let's collaborate! Reach out to me for exciting opportunities or interesting projects</h6> -->
          <!-- <h6 class="fw-bold">Computer Scientist</h6>
          <h6 class="fw-bold">Software Engineer</h6>
          <h6 class="fw-bold">Academic Researcher</h6> -->
        </div>
        <nav class="navbar navbar-expand-md navbar-light bg-white py-1">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse row" id="navbarCollapse">
              <div class="border-bottom border-secondary pb-2">
                <ul class="d-flex justify-content-end me-auto mb-2 mb-md-0">
                  <li class="nav-item">
                    {% if page == 'home' %}
                    <a class="nav-link fw-bold active" href="{% url 'Home' %}">Home</a>
                    {% else %}
                    <a class="nav-link fw-bold" href="{% url 'Home' %}">Home</a>
                    {% endif %}
                  </li>
                  <li class="nav-item">
                    {% if page == 'project' %}
                    <a class="nav-link fw-bold active" href="{% url 'Project' %}">Project</a>
                    {% else %}
                    <a class="nav-link fw-bold" href="{% url 'Project' %}">Project</a>
                    {% endif %}
                  </li>
                  <li class="nav-item">
                    {% if page == 'research' %}
                    <a class="nav-link fw-bold active" href="{% url 'Research' %}">Research</a>
                    {% else %}
                    <a class="nav-link fw-bold" href="{% url 'Research' %}">Research</a>
                    {% endif %}
                  </li>
                  <li class="nav-item">
                    {% if page == 'experience' %}
                    <a class="nav-link fw-bold active" href="{% url 'Experience' %}">Experience</a>
                    {% else %}
                    <a class="nav-link fw-bold" href="{% url 'Experience' %}">Experience</a>
                    {% endif %}
                  </li>
                  <li class="nav-item">
                    {% if page == 'photos' %}
                    <a class="nav-link fw-bold active" href="{% url 'Photos' %}">Photos</a>
                    {% else %}
                    <a class="nav-link fw-bold" href="{% url 'Photos' %}">Photos</a>
                    {% endif %}
                  </li>
                  <li class="nav-item">
                    {% if page == 'contact' %}
                    <a class="nav-link fw-bold active" href="{% url 'Contact' %}">Contact</a>
                    {% else %}
                    <a class="nav-link fw-bold" href="{% url 'Contact' %}">Contact</a>
                    {% endif %}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </header>
      <div class="modal" id="AddModal" tabindex="-1" aria-labelledby="AddModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h6 class="modal-title text-danger" id="modal-title">Did You Know ?</h6>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <div id="modal-body">{{hint.body}}</div>
            <div>by - <span class="text-primary fst-italic fw-6" id="modal-author">{{hint.author}}</span>
              <a href="{{hint.url}}" target="_blank" id="modal-url">(source)</a>
            </div>
            </div>
            <div class="modal-footer justify-content-between">
              <div>
                <span>Topic: </span><span id="modal-topic">{{hint.topic}}</span>
              </div>
              <div>
                <button type="button" class="btn btn-dark" id="next-hint">Next</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>                
            </div>
          </div>
        </div>
      </div>      
  
  {% block content%}


  {% endblock %}


    </div>
  </div>  

<footer class="bg-light p-5" id="footer">
    <div class="container-fluid">
        <div class="row pb-2 border-bottom border-dark">
            <div class="col-6 pb-3">
                <div class="col-10 pb-3 text-dark">
                    <p>{{footer.body}}</p>
                </div>
                <div>
                    <a href="{% url 'Contact' %}" class="btn btn-success rounded-5 px-5 fw-bold">Contact Me</a>
                </div>
            </div>
            <div class="col-6 pb-3">
                <div class="row">
                    <div class="col-6">
                        <ul class="">
                          <li class="pb-2"><a href="{% url 'Project' %}">Projects</a></li>                          
                            <li class="pb-2"><a href="{% url 'Experience' %}">Experience</a></li>
                            <li class="pb-2"><a href="{% url 'Research' %}">Research</a></li>
                        </ul>
                    </div>
                    <div class="col-6 ps-3">
                        <ul class="">
                            <li class="pb-2"><a href="{% url 'Photos' %}">Photos</a></li>
                        </ul>
                    </div>
                </div>
            </div>        
        </div>
        <div class="d-flex justify-content-between">
            <div class="row pt-4">
                <div class="col-auto text-white">
                    &copy; 2023 Sufyan Sani Bature                    
                </div>
            </div>
            <div class="row pt-4">
                <div class="social-links">
                  <a href="{{social.researchgate}}" target="_blank" class="researchgate"><i class="fa-brands fa-researchgate"></i></a>
                  <a href="{{social.github}}" target="_blank" class="github"><i class="bx bxl-github"></i></a>
                  <a href="{{social.linkedin}}" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                  <a href="{{social.twitter}}" target="_blank" class="twitter"><i class="bx bxl-twitter"></i></a>
                  <a href="{{social.facebook}}" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
                  <a href="{{social.instagram}}" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
                  <a href="{{social.telegram}}" target="_blank" class="telegram"><i class="bx bxl-telegram"></i></a>
                    <!-- <a href="{{social.tiktok}}" target="_blank" class="tiktok"><i class="bx bxl-tiktok"></i></a>                     -->
                  </div>                
            </div>
        </div>
    </div>
</footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
  <script>
    var modal = null;
    var hint_list = null;
    var iter = 0;
    var modal_body = document.getElementById("modal-body");
    var modal_author = document.getElementById("modal-author");
    var modal_url = document.getElementById("modal-url");
    var modal_topic = document.getElementById("modal-topic");
    var next_hint = document.getElementById("next-hint");
    window.addEventListener("load",
    function(){
      // console.log(modal_body.value);
        var addModal = document.getElementById("AddModal");
        modal = new bootstrap.Modal(addModal);
        console.log(modal_body.textContent.length)
        if (modal_body.textContent.length != 0){
          modal.show();
        }
    }
  );

  $.ajax({
      type: 'GET',
      url: "hint",
      dataType: 'json',
      success:function(response){
        hint_list = response.hint_list;        
        // console.log(hint_list);
        console.log(hint_list.length);        
      }
    });


  next_hint.addEventListener('click',
    function(){
      hint();
    }
  );

  function hint(){
    if(modal != null){
      modal_body.innerHTML = hint_list[iter]['body'];
      modal_author.innerHTML = hint_list[iter]['author'];
      modal_url.innerHTML = '(source)';
      modal_url.url = hint_list[iter]['url'];
      modal_topic.innerHTML = hint_list[iter]['topic'];
      if(iter < hint_list.length-1){
        iter = iter + 1;
      }
      else{
        iter = 0;
      }
    }
  }

  function hint_repeat(){
    hint();
    modal.show();        
  }
  setInterval(hint_repeat, 2 * 60 * 1000);
  </script>

</body>

</html>