{% extends 'main.html' %}
{% load static %}
        

    {% block content%}

    <header id="header" class="d-flex align-items-center bg-success">
      <div class="col-lg-6 col-md-6">
        <div class="container">
          <h5 class="text-white">Kano State Ministry of Science, Technology and Innovation</h5>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="container">
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        <nav id="navbar" class="navbar justify-content-end pe-2">
          <ul>
            <li><a class="nav-link" href="{% url 'Home' %}">Home</a></li>
            <li><a class="nav-link" href="{% url 'Departments' %}">Departments</a></li>
            <li><a class="nav-link" href="{% url 'All-News' %}">News</a></li>
            <li><a class="nav-link active" href="{% url 'About' %}">About</a></li>
            <li><a class="nav-link" href="{% url 'Contact' %}">Contact</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
      </div>
  
      </div>
    </header><!-- End Header -->
  
  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about-us">
      <div class="container">

        <div class="section-title">
          <h2>About Us</h2>
        </div>

      <!-- ======= about-us-profile Section ======= -->
      <div class="container pb-5">
        <div class="row">
          <div class="about-us-profile col-lg-6 col-md-6 d-flex justify-content-start">
            <div class="member">
              <img src="{% static 'assets/img/Msti/ca6e8898-9ccc-4d34-8738-2a58420e6b8f.JPG' %}" width="300px" alt="">
              <h4>Alhaji Idris Garba Unguwar Rimi</h4>
              <span>Honourable Commissioner</span>
            </div>
          </div>
          <div class="about-us-profile col-lg-6 col-md-6 d-flex justify-content-end">
            <div class="member">
              <img src="{% static 'assets/img/Msti/cab1906c-f7e7-41b8-ab07-a79c7d394530.JPG' %}" width="300px" alt="">
              <h4>Dr. Binta Umar Bala</h4>
              <span>Permanent Secretary</span>
            </div>
          </div>
        </div>
    </div><!-- End about-us-profile Section -->

        <div class="container">
            <h2 class="text-center text-success">Ministry of Science, Technology and Innovation Kano State </h2>
            <p class="fs-3">{{about.intro}}</p>
            <p class="fs-2 text-center text-success">Mandates of the Ministry</p>
            <p class="fs-5">{{about.body}}</p>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->    
  </main><!-- End #main -->

  {% endblock content%}