{% extends 'main.html' %}

{% load static %}
        

  {% block content%}
  {% load embed_video_tags %}
  <main class="row py-5">
    <div class="col-5 pe-5">
      <div class="py-4">
        <img src="{{homeinfo.image.url}}" alt="" width="300" height="300px">
      </div>      
    </div>
    <div class="col-7 ps-5">
      <div class="pb-3">
        <p class="fs-1">My Portal</p>
      </div>
      <div class="py-4 textt-center">
        <div class="d-flex justify-content-between">
          <a href="{{social.twitter}}" target="_blank" class="btn btn-primary twitter"><i class="bx bxl-twitter"></i></a>
          <a href="{{social.facebook}}" target="_blank" class="btn btn-primary facebook"><i class="bx bxl-facebook"></i></a>
          <a href="{{social.youtube}}" target="_blank" class="btn btn-danger youtube"><i class="bx bxl-youtube"></i></a>
          <a href="{{social.instagram}}" target="_blank" class="btn btn-danger instagram"><i class="bx bxl-instagram"></i></a>
          <a href="{{social.telegram}}" target="_blank" class="btn btn-primary telegram"><i class="bx bxl-telegram"></i></a>
          <a href="{{social.linkedin}}" target="_blank" class="btn btn-primary linkedin"><i class="bx bxl-linkedin"></i></a>
          <a href="{{social.tiktok}}" target="_blank" class="btn btn-dark tiktok"><i class="bx bxl-tiktok"></i></a>  
        </div>
      </div>
      <div class="py-4">
        <div class="d-flex justify-content-center">
          <div class="px-2">
            <a href="{{homeinfo.cv.url}}" target="_blank" class="btn btn-primary rounded-circle fs-4 p-3">CV</a>            
          </div>
        </div>
      </div>
    </div>
    <div class="col-5">
    </div>

    <div class="pt-4">
      <div class="pb-3">
        <p class="text-justify">{{homeinfo.body|linebreaksbr}}</p>
      </div>
    </div>    
  </main>
  {% endblock content%}