{% extends 'main.html' %}

{% load static %}
        

  {% block content%}
  <main class="py-5">
    <div class="row g-5 pb-5">
        <div class="col-lg-5">
          <div class="news border-bottom pb-4">
            <a href=""><img src="{{p.url}}" alt="" width="100%" height="300px"></a>
            <a href=""><img src="{{obj.image_middle.url}}" alt="" width="100%" height="300px"></a>
          </div>
        </div>

        <div class="col-lg-7">
          <div class="row g-5">
            <div class="col-lg-6 border-start custom-border">
              <div class="news border-bottom pb-2">
                <a href=""><img src="{{obj.image_top.url}}" alt="" width="100%" height="200px"></a>
                <a href=""><img src="{{obj.image_middle.url}}" alt="" width="100%" height="200px"></a>
                <a href=""><img src="{{obj.image_bottom.url}}" alt="" width="100%" height="200px"></a>
              </div>
            </div>
            <div class="col-lg-6 border-start custom-border">
              <div class="news border-bottom pb-2">
                <a href=""><img src="{{obj.image_top.url}}" alt="" width="100%" height="200px"></a>
                <a href=""><img src="{{obj.image_middle.url}}" alt="" width="100%" height="200px"></a>
                <a href=""><img src="{{obj.image_bottom.url}}" alt="" width="100%" height="200px"></a>
              </div>
            </div>
          </div>
        </div>

    </div> <!-- End .row -->

  </main>

  {% endblock content%}