{% extends 'main.html' %}

{% load static %}
{% load embed_video_tags %}        

{% block content%}

    <main id="main">

    <!-- ======= Search Results ======= -->
    <section>
      <div class="container">
        <div class="section-title">
          <h3>Recent Projects</h3>
        </div>          
        {% for obj in project%}
        <div class="d-md-flex pb-3">
          <div class="col-md-5 pe-md-3">
            {% if obj.video %}
            <video autoplay controls preload loop poster="{{obj.image.url}}" height="100%" width="100%">
              <source src="{{obj.video.url}}" type="video/mp4">
            </video>
            {% else %}
            <img src="{{obj.image.url}}" alt="" height="100%" width="100%" class="border border-success">            
            {% endif %}
          </div>
          <div class="col-md-7">
            <h4><a href="#">{{obj.headline}}</a></h4>
            {% if obj.body %}
            <p style="text-align: justify;">{{obj.body | linebreaksbr }}</p>
            {% endif %}
            <!-- <p class="fs-6"><span class="text-danger fw-bold">Date: </span>{{obj.start_date}} to {{obj.end_date}}</p> -->
            <div class="news-meta"><span class="text-primary">Link: </span><a href="{{obj.url}}" target="_blank">{{obj.url}}</a></div>            
            <div class="news-meta"><span class="text-primary">Duration: </span><span>{{obj.start_date|date}} to {{obj.end_date|date}}</span></div>
          </div>
        </div>
        {% endfor %}

        <!-- Paging -->
        <div class="text-start py-4">
          <div class="custom-pagination">
            {% if project.has_previous %}
            <a href="?page=1" class="prev">&laquo; first</a>
            <a href="?page={{ project.previous_page_number }}" class="prev">Previous</a>
            <a href="?page={{ project.previous_page_number }}">{{project.previous_page_number}}</a>
            <bold class="prev">Previous</bold>
            {% endif %}
            {% if project.number%}                
            <a href="?page={{ project.number }}" class="active">{{ project.number }}</a>
            {% endif%}
            {% if project.has_next%}
            <a href="?page={{ project.next_page_number }}">{{ project.next_page_number }}</a>
            <a href="?page={{ project.next_page_number }}" class="next">Next</a>
            <a href="?page={{ project.paginator.num_pages }}" class="next">last &raquo;</a>
            <bold class="prev">Next</bold>
            {% endif %}
          </div>
        </div><!-- End Paging -->
      </div>
    </section> <!-- End Search Result -->

    </main><!-- End #main -->
    
{% endblock content%}